@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">Esercizi Razor</h1>

<p>
    1. Dichiarare una variabile valorizzandola con il nostro nome.
    Dichiarare un'altra variabile valorizzandola con il nostro cognome.
    Stampare il nostro nome e cognome all'interno di un tag h2.
</p>


@{
    string nome = "Diego";
    string cognome = "Giardina";
}

<h2 class="text-center">Ciao, mi chiamo @nome @cognome</h2>


<p>
    2. Creare una funzione che stampa la somma dei numeri che vanno da 1 a n (con n passato come parametro - n incluso)
    Stampare dentro uno span il risultato.
</p>

@functions {
    static int PrintSum(int n)
    {
        int sum = 0;
       
        for (int i = 1; i <= n; i++)
        {
            sum += i;
          
        }
        return sum;
    }
  
}

@{
    int result = PrintSum(5);
   
}



<span> Il risultato della somma dei miei numeri è: @result</span>


<p>
    3. Contare quante volte la lettera a è presente nalla frase "nel mezzo del cammin di nostra vita" e stampare questo valore in pagina

</p>


@{
    string phrase = "nel mezzo del cammin di nostra vita";

    int counter = 0;

    foreach (char let in phrase){

        if(let == 'a')
        {
            counter++;
        }
      
     }

}

<h2>La lettera "a" compare nella frase @counter volte</h2>

<p>
    4. Creare una List
        di 20 numeri interi (generati random da 1 a 90, 1 e 90 inclusi) e mostrare in pagina solo i numeri compresi tra 20 e 70
</p>

<p>
    5. Stampare in pagina la data e l'ora attuale (usando la classe DateTime) con il formato anno-mese-giorno ore:minuti:secondi
</p>

<p>
    6. Partendo dalla data di oggi (usando la classe DateTime) stampare in pagina
    a. la data di 7 giorni fa
    b. che giorno della settimana è oggi (il risultato dovrà essere il nome del giorno (Lunedì, Martedì, ...)
    c. che giorno della settimana sarà nello stesso giorno e mese di oggi ma tra un anno (il risultato dovrà essere il nome del giorno (Lunedì, Martedì, ...)
</p>




   
