@{
    Layout = "_MioLayout";
}

@section Button{
    <div class="btn_main mt-4 mb-4 text-center ">
        <button class="btn btn-danger " onclick="showPopup()">ATTENTION!</button>
    </div>
      
    <script>
        function showPopup() {

            const popup = window.open("", "Popup", "width=500,height=300");


            popup.document.body.innerHTML = "GOGOGO!!!";
        }


        const button = document.querySelector("button");
        button.addEventListener("click", showPopup);

    </script>
}


<h1 class="text-center mt-2 mb-4">WELCOME TO KAWAII PIZZA ADMIN PAGE</h1>
    <main>

        <div class="container">
            <div class="row">
                <div class="col-12">

                    <h1 class="text-center mb-4">Pizza's List</h1>


                    <table class="table">
                        <thead>
                            <tr>
                              <th scope="col">Nr.</th>
                              <th scope="col">Photo</th>
                              <th scope="col">Name</th>
                              <th scope="col">Description</th>
                              <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td><img  src="\img\1.jpg" alt="Pizza1" /></td>
                                <td>Pizza 1</td>
                                <td>Description1</td>
                                <td> 200 yen</td>
                            </tr>

                            <tr>
                                <th scope="row">2</th>
                                <td><img  src="\img\2.jpg" alt="Pizza2" /></td>
                                <td>Pizza 2</td>
                                <td>Description2</td>
                                <td> 200 yen</td>
                            </tr>

                            <tr>
                                <th scope="row">3</th>
                                <td><img src="\img\3.jpg" alt="Pizza3" /></td>
                                <td>Pizza 3</td>
                                <td>Description3</td>
                                <td> 200 yen</td>
                            </tr>

                            <tr>
                                <th scope="row">4</th>
                                <td><img src="\img\4.jpg" alt="Pizza4" /></td>
                                <td>Pizza 4</td>
                                <td>Description4</td>
                                <td> 200 yen</td>
                            </tr>

                            <tr>
                                <th scope="row">5</th>
                                <td><img src="\img\5.jpg" alt="Pizza5" /></td>
                                <td>Pizza 5</td>
                                <td>Description5</td>
                                <td> 200 yen</td>
                            </tr>

                            <tr>
                                <th scope="row">6</th>
                                <td><img src="\img\6.jpeg" alt="Pizza6" /></td>
                                <td>Pizza 6</td>
                                <td>Description6</td>
                                <td> 200 yen</td>
                            </tr>

                            <tr>
                                <th scope="row">7</th>
                                <td><img src="\img\7.jpeg" alt="Pizza7" /></td>
                                <td>Pizza 7</td>
                                <td>Description7</td>
                                <td> 200 yen</td>
                            </tr>

                            <tr>
                                <th scope="row">8</th>
                                <td><img src="\img\8.jpeg" alt="Pizza8" /></td>
                                <td>Pizza 8</td>
                                <td>Description8</td>
                                <td> 200 yen</td>
                            </tr>
                            <tr>
                                <th scope="row">9</th>
                                <td><img src="\img\9.jpeg" alt="Pizza9" /></td>
                                <td>Pizza 9</td>
                                <td>Description9</td>
                                <td> 200 yen</td>
                            </tr>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>



    </main>




 



